<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
</head>
<body>

    <input type="text" name="country" id="autocomplete" class="form-control" placeholder="Enter Country name" />
 
    

<script>
            $("#autocomplete").autocomplete({
        
        //lookup: countries,

        serviceUrl:'autocomplete', //tell the script where to send requests
        type:'POST',
        width: 450, //set width

        //callback just to show it's working

        onSelect: function (suggestion) {

        $('#selection').html('You selected: ' + suggestion.value + ', ' + suggestion.data);

        },

        showNoSuggestionNotice: true,

        noSuggestionNotice: 'Sorry, no matching results',

        });
</script>
<script type="text/javascript" src="src/jquery.autocomplete.js"></script>

</body>
</html>