<!DOCTYPE html>
<html>
<head>
	<title>AutoComplete</title>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.js">
	</script>
	
	<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/jquery-ui.js">
	</script>
	
	<link href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/themes/ui-lightness/jquery-ui.css"
		rel="stylesheet" type="text/css" />
</head>
<body>
	<div class="frmSearch">
		<input type="text" id="search-box" placeholder="Country Name" />
		<div id="suggesstion-box"></div>
	</div>
	
	<script>
// AJAX call for autocomplete 
$(document).ready(function(){
	$("#search-box").keyup(function(){
		search_data =  $(this).val()
		$.ajax({
		type: "POST",
		url: "/submit",
		// data:'keyword='+$(this).val(),
		data: search_data,
		beforeSend: function(){
			$("#search-box").css("background","#FFF url(LoaderIcon.gif) no-repeat 165px");
		},
		success: function(data){
		
		console.log("res",data.result);
		data = data.result
		$("#suggesstion-box").show();
		var start = '<ul id="country-list">';
		var end = '</ul>'
		for(var i = 0; i < data.length; i++)
		{
			start += '<li>' + data[i] + '</li>'; // if Name is property of your Person object
		}
		start+=end
			$("#suggesstion-box").html(start);
			$("#search-box").css("background","#FFF");
			
		}
		});
	});
});
//To select country name
function selectCountry(val) {
$("#search-box").val(val);
$("#suggesstion-box").hide();
}

</script>
	
</body>
</html>
